// 左侧容器
left-container()
  width: 800px
  display: inline-block

// 右侧容器
right-container()
  width: 260px
  display: inline-block
  vertical-align: top
  margin-left: 10px

//  字体不换行显示为省略号
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 右侧文章列表
topicList()
  display: block
  no-wrap()
  padding: 10px
